     
        <footer id="footer" class="type_footer">
           <p> Copyright © <%= new Date().getFullYear() %> Braden Kowalchuk </p>
           <p> Book Cover Images courtesy of <a href="https://openlibrary.org" target="_blank">Open Library</a></p>
        </footer>
        
</body>

</html>